*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


.container{
  padding: 30px 8%;
} 

.heading{
  font-size: 35px;
  color: #363958;
}

.primary-btn{
  display: flex;
  width: 130px;
  height: 50px;
  background-image: linear-gradient(#A4BC46, #85A019);
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: .8s;
}

.primary-btn:hover{
  background-color: #85A019;
}

.primary-btn img{
  height: 20px;
}

/* header section */

.navber{
  background-color: #fffbf0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 280px;
  cursor: pointer;
}

.menu a{
  font-size: 17px;
  text-decoration: none;
  margin-left: 40px;
  color: black;
  font-weight:700;
  list-style: none;
}


.banner{
  background-color: #fffbf0;
  padding: 0 8%;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.banner-left h1{
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 55px;
  color: #FABE4C;
}

.banner-left h1 span{
  color: #363958;
}

.banner-left p{
  font-size: 15px;
  margin: 10px 0;
  width: 300px;
  margin-bottom: 20px;
}

.banner-right img{
  width: 100%;
  /* height: 500px; */
}

.btn-menu{
  display: none;
}

/* women section */

.women-container{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.podurct-img{
  width: 200px;
  background-color: #F1F1F1;
  padding: 15px 40px;
  border-radius: 8px;
}

.cart{
  height: auto;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 15px;
  border-radius: 8px;
}

.cart-head{
  margin: 7px 0;
  color: #363958;
}

.cart p{
  font-size: small;
  margin-bottom: 12px;
}

.cart-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-action h3{
  font-size: 30px;
  color: #FABE4C;
}
/* responsiveness */

@media screen and (max-width:780px) {
  .navber{
    padding: 20px 4%;
  }
  .menu{
    display: none;
  }

  .btn-menu{
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
  }

  .banner{
    flex-direction: column;
    padding: 50px 4% 0;
    height: auto;
  }

  .banner-left{
    margin-bottom: 10px;
  }

  .banner-right img{
    height: 100%;
  }

  .logo img{
    width: 240px;
  }

  /* women section */

  .heading{
    font-size: 40px;
    text-align: center;
  }

  .women-container{
    flex-direction: column;
  }

  .cart{
    margin: 20px 0;
  }
}